{% load static %}
<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>社交帳號 Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    <div class="container">
        <h1>社交帳號 Dashboard</h1>
        
        <!-- 登入狀態將在這裡顯示 -->
        <div id="loginStatus">

            <!-- Session 登入狀態 -->
            <div id="sessionStatus">
             {% if user.is_authenticated %}
                <p>Session 登入狀態: <span id="sessionStatusText">🟩</span></p>
            {% else %}
                <p>Session 登入狀態: <span id="sessionStatusText">🟥</span></p>
            {% endif %}
            </div>

            <!----------------------------->

            <!-- JWT 登入狀態 -->
            <div id="jwtStatus">
                <p>JWT 登入狀態: <span id="jwtStatusText"></span></p>
            </div>

        </div>

        <div id="logoutButtons">

            {% if user.is_authenticated %}
                <!-- 使用者已使用 Session 登入才會出現 -->
                <a href="/api/allauth/logout/" class="logout-btn" onclick="sessionLogout()">Session 登出</a>
            {% endif %}

            <!-- 使用者已使用 JWT 登入才會出現 -->
            <button id="jwtLogoutBtn" class="logout-btn" onclick="jwtLogout()">JWT 登出</button>
        </div>

        <div id="loginButtons">
            <a title="Google" href="/api/allauth/google/login/?process=login" class="social-login-btn">登入 Google</a>
            <a title="Google" href="/api/allauth/google/login/?process=connect" class="social-login-btn">綁定 Google</a>
            <a title="Microsoft" href="/api/allauth/microsoft/login/?process=login" class="social-login-btn">登入 Microsoft</a>
            <a title="Microsoft" href="/api/allauth/microsoft/login/?process=connect" class="social-login-btn">綁定 Microsoft</a>
            <a title="Line" href="/api/allauth/line/login/?process=login" class="social-login-btn">登入 Line</a>
            <a title="Line" href="/api/allauth/line/login/?process=connect" class="social-login-btn">綁定 Line</a>
        </div>

        <div id="loginNotice">
            <p>📌 注意事項</p>
            <ul>
                <li>🔒 第三方登入會自動登入Session及置入JWT至Local Storage。</li>
                <li>🔒 第三方登入需要重新整理才能看到Session登入狀態。</li>
                <li>🔒 只有Session登入的狀態才能綁定第三方登入。</li>
            </ul>
        </div>

        <div id="socialAccounts">
            <!-- 已綁定的社交帳號列表將在這裡顯示 -->
        </div>
    </div>

    <script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>
